body {
	background-color: #bababa;
}

header img {
	width: 100%;
	height: 200px;
}

nav {	
	background: #aaaaaa;
	height: 40px;
	border: 1px solid #baaaaa;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 11pt;	
    	font-weight: bold;    	
}

nav ul {
	list-style-type: none;
	width: 100%;
	height: 40px;
	padding: 0;
    	margin: 0 auto;
}

nav li {
	float: left;
}

nav li a {	
	width: 100px;
	display: block;
	color: #FFFFFF;
	text-align: center;	
	text-decoration: none;
    	box-sizing: border-box;    
    	padding: 12px 6px 12px 10px;
    	-moz-box-sizing:border-box;
    	-webkit-box-sizing:border-box;
}

nav a:hover {
	background-color: #555;
}

nav a:hover {
	background-color: #555;
}

div div article.topContent {
	width: 60%;
	float: left;
	text-indent: initial;
}

div.mainAside {
	width: 25%;
	float: right;
}

div aside img {
	width: 100%;
	margin: 0 0 10px 0;
	border: 1px solid #ffffff;
}

div.mainFooter {
	width: 100%;

}